body {
	background-color: rgb(128, 128, 128);
}

.flex_class {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #791919;
    font-family: Arial;
}

/* Navbar links */
.navbar a {
    float: right;
    font-size: 16px;
    color: rgb(228, 221, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background color of navbar links on mouse hover */
.navbar a:hover {
    background-color: red;
}

/* Search bar container */
.searchbar {
    display: inline-flex;
    text-align: center;
    float: right;
    width: 90%;
    margin: 10px;
    background-size: auto;
}

/* Container for recommended categories */
.recommendations, .categories {
    display: inline-flex;
    text-align: center;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
}

.categories {
    border-radius: 16px; /* rounded corners */
    box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.2); /* subtle shadow */
    background-color: rgba(100, 100, 100, 0.5);
    background-blend-mode: overlay;
}

.cat_1, .cat_2, .cat_3 {
    display: inline-flex;
    text-align: center;
    width: 100%;
    margin: 20px;
    padding-bottom: 400px;
    border-radius: 16px; /* rounded corners */
    box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.2); /* subtle shadow */
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgba(100, 100, 100, 0.5);
    background-blend-mode: overlay;
}

#vp {
	flex-grow: 8;
}