<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <div class="navbar">
        <img src="imgs/basicLogo.jpeg">
        <a href="login.html">Login</a>
        <a href="index.html">Home</a>
    </div>
    <form id="create_course" method="post">
        <input type="text" placeholder="Title of the course" name="course_title" id="course_title">
        <input type="text" placeholder="Description of the course" name="course_description" id="course_description">
        <button type="submit" value="Create Course" name="submit" id="submit">Create Course</button>
    </form>
</body>
<script src="scripts/create_course.js"></script>
</html>