<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Z-Squared</title>
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
<header>
  <div class="logo">
    <img src="imgs/basicLogo.jpeg" alt="Logo" />
  </div>
  <div class="searchbar">
    <form action="index.html" method="post">
      <input type="text" name="srch" placeholder="Search..." />
      <button id="searchbtn" type="submit">Search</button>
    </form>
  </div>
</header>
<div class="sidebar">
  <form action="login.html" method="get"><button type="submit" class="sidebar-button" id="login-btn"><img src="imgs/default_avatar.png" alt="Account Login" width="100px" height="auto"/></button></form>
  <br><br>
  <form action="index.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Home</button></form>
  <form action="upload.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Upload</button></form>
  <form action="liked.html" method="get"><button type="submit" class="sidebar-button" id="liked-videos-btn">Liked Videos</button></form>
  <form action="history.html" method="get"><button type="submit" class="sidebar-button" id="history-btn">Watched Videos</button></form>
</div>
<div id="main-content">
  <div id="video-container" class="vjs-matrix">
    <table>
      <tr>
          <td>
              <video id="z-video" class="video-js" controls preload="auto" width="640" height="440" data-setup="{}">
                  <source id="z-source" src="videos/cool.mp4" type="video/mp4" />
              </video>
          </td>
      </tr>
  </table>
  <div id="video-title">Cool</div>
  </div>
  <form action="index.html" method="get">
    <div class="button-container">
      <button id="like-btn" class="like-button">Like</button>
      <button id="dislike-btn" class="dislike-button">Dislike</button>
    </div>
  </form>
  <form action="index.html" method="post">
    <div class="comment-section">
      <h3>Comments</h3>
      <textarea id="comment-input" placeholder="Write a comment..."></textarea>
      <button id="submit-comment">Submit</button>
      <div id="comments-container"></div>
    </div>
  </form>
</div>
<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>