<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <title>Video Player</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="imgs/basicLogo.jpeg" alt="Logo" />
    </div>
    <div class="searchbar">
        <form action="index.html" method="post">
        <input type="text" name="srch" placeholder="Search..." />
        <button id="searchbtn" type="submit">Search</button>
        </form>
    </div>
    </header>
    <div class="sidebar">
        <form action="login.html" method="get"><button type="submit" class="sidebar-button" id="acct-btn"><img src="imgs/default_avatar.png" alt="Account Login" width="100px" height="auto"/></button></form>
        <form action="index.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Home</button></form>
        <form action="upload.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Upload</button></form>
        <form action="liked.html" method="get"><button type="submit" class="sidebar-button" id="liked-videos-btn">Liked Videos</button></form>
        <form action="history.html" method="get"><button type="submit" class="sidebar-button" id="history-btn">Watched Videos</button></form>
    </div>
    <div id="main-content">
    <div id="video-container" class="vjs-matrix">
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="440" data-setup="{}">
            <source id="z-source" src="videos/cool.mp4" type="video/mp4" />
        </video>
    <div id="video-title">Your Video Title Here</div>
    </div>
    <form action="player.html" method="post">
        <div class="button-container">
        <button id="like-btn" name="liked" class="like-button" value="true">Like</button>
        <button id="dislike-btn" name="disliked" class="dislike-button" value="true">Dislike</button>
        </div>
    </form>
    <form action="player.html" method="post">
        <div class="comment-section">
        <h3>Comments</h3>
        <textarea class="comment-input" placeholder="Write a comment..."></textarea>
        <button class="submit-comment">Submit</button>
        </div>
    </form>
    </div>
    <div class="sidebar2">
        <h2>Recommended Videos</h2>
        <ul>
            <li><a href = "video1.html">Video 1</a></li>
            <li><a href = "video2.html">Video 2</a></li>
            <li><a href = "video3.html">Video 3</a></li>
            <li><a href = "video4.html">Video 4</a></li>
        </ul>
    </div>
</body>
</html>