.registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formContent {
    text-align: center;
}

#formInputs {
    padding-bottom: 20px;
}

.border {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #791919;
    font-family: Arial;
}

.navbar img {
    width: auto;
    padding-top: 5px;
    padding-left: 5px;
    height: 35px;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: rgb(218, 247, 166);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}

.inputField {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px;
}

input {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.inputFieldLabel {
    position: relative;
    display: block;
    padding-bottom: 5px;
}

#register-btn {
    background-color: #791919;
    color: rgb(218, 247, 166);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
}

#register-btn:hover {
    background-color: red;
}