<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z<sup>2</sup></title>
        <link rel="stylesheet" href="css\styles.css" type="text/css">
    </head>
    <body>
        <section class="border">
            <div class="navbar">
                <img src="imgs/basicLogo.jpeg">
                <a href="login.html">Login</a>
                <a href="index.html">Home</a>
            </div>
            <h1 style="text-align: center;">Login/Create Account</h1>
        </section>
        <% if (!pwdMatch || !usrMatch) { %>
        <h3 style="text-align: center;">Invalid login. Please try again</h3>
        <%
        } %>
        <div class="container">
            <div class="registration">
                <div class="logo">
                    <img src="imgs/basicLogo.jpeg" alt="InsideBox Logo">
                </div>
                <h2>Welcome back</h2>
                <p>Please enter your details</p>
                <form id="login-form" action="login.html" method="post">
                    <input name="jsonData" type="hidden" value="<%= JSON.stringify(results) %>"/>
                    <div class="input-group">
                        <label for="usr">Username</label>
                        <input type="text" id="usr" name="usr" required>
                    </div> 
                    <br>
                    <div class="input-group">
                        <label for="pwd">Password</label>
                        <input type="password" id="pwd" name="pwd" required>
                    </div>
                    <div class="options">
                        <p>Remember for 30 days<input style="width: auto;" type="checkbox" name="remember"></p>
                    </div>
                    <button type="submit" name="login" id="login-btn" value="Login">Sign in</button>
                    <button type="button" name="google-login" id="google-btn" value="GLogin">Sign in with Google</button>
                    <p>Don't have an account? <a href="registration.html">Sign up</a></p>
                    <a href="forgot-password.html">Forgot password?</a>
                </form>
            </div>
        </div>
        <!-- <form class="login-box" action="login.html" method="post">
            <input name="jsonData" type="hidden" value="<%= JSON.stringify(results) %>"/>
            <div class="username">
                <label for="usr">Username: </label>
                <input type="text" id="usr" name="usr" style="width: 50%;">
            </div>
            <div class="password">
                <label for="pwd">Password: </label>
                <input type="password" id="pwd" name="pwd" style="width: 50%;">
            </div>
            <div class="account-btns">
                <button type="submit" id="login-btn" name="login" style="border-radius: 5px;" value="Login">Login</button>
                <button type="submit" id="create-acct-btn" name="create" style="border-radius: 5px;" value="Create Account">Create Account</button>
            </div>
        </form> -->
        <script type="text/javascript" src="scripts/login.js"></script>
    </body>
</html>